@model STORE_APP.Models.Entity.APPOINTMENT
@{
    ViewBag.Title = "Update_Appointment_View";
    Layout = "~/Views/Shared/Layout.cshtml";
}


@*                  ActionResult        Controller *@
@using (Html.BeginForm("Update_Appointment", "Appointment_", FormMethod.Post))
{

    <div style="margin-bottom:15px"></div>
    <div class="form-group">
        <!-- jQuery -->
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

        <!-- jQuery UI (Including datepicker) -->
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">


        <div style="margin-bottom:15px"></div>
        <label>Appointment Id</label>
        @Html.TextBoxFor(k => k.APPOINTMENT_ID, new { @class = "form-control" })
        <br />
        <div style="margin-bottom:15px"></div>
        <label>Customer Id</label>
        @Html.TextBoxFor(k => k.CUSTOMER_ID, new { @class = "form-control" })
        <br />
        <div style="margin-bottom:15px"></div>
        <label>Rotation</label>
        @Html.TextBoxFor(k => k.ROTATION, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.ROTATION, "", new { @style = "color:red" })
        <br />
        <div style="margin-top:15px">
            <label>DATE</label>
            <input type="text" id="datepicker1" class="form-control" name="DATE"
                   value="@DateTime.Now.ToShortDateString()" />
            <script>
                $(function () {
                    $("#datepicker1").datepicker({ dateFormat: "dd/mm/yy" });
                });
            </script>
        </div>
        <div style="margin-bottom:15px"></div>
        <label>Clock</label>
        @Html.TextBoxFor(k => k.CLOCK, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.CLOCK, "", new { @style = "color:red" })
        <br />
        <div style="margin-bottom:15px"></div>
        <label>Car Category Id</label>
        @Html.DropDownListFor(k => k.CARS_CATEGORY.CAR_CATEGORY_ID, (List<SelectListItem>)ViewBag.listCarCategoryView, new { @class = "form-control" })
        <br />
        @* Activity *@
        <div style="margin-top:15px">
            <datalist id="Activity">
                <option value="1">
                <option value="0">
            </datalist>
            <label>Activity</label>
            <input type="text" class="form-control" name="IS_ACTIV"
                   list="Activity" />
            @Html.ValidationMessageFor(x => x.IS_ACTIV, "", new { @style = "color:red" })
        </div>
        <div style="margin-top:15px">
            <label>U DATE</label>
            <input type="text" id="datepicker" class="form-control" name="U_DATE"
                   value="@DateTime.Now.ToShortDateString()" />
            <script>
                $(function () {
                    $("#datepicker").datepicker({ dateFormat: "dd/mm/yy" });
                });
            </script>
        </div>
    </div>
    <div style="margin-top:15px"><button class="btn btn-warning">Update</button></div>
}